# Ignorar archivos de configuración del sistema operativo
.DS_Store
Thumbs.db

# Ignorar archivos de Python compilados
__pycache__/
*.py[cod]

# Ignorar archivos de entorno virtual
venv/
env/
ENV/
.venv/
.env/

# Ignorar archivos de configuración de IDEs
.vscode/
.idea/

# Ignorar archivos de datos
*.csv
*.json
*.xml

# Ignorar archivos de logs
*.log

# Ignorar archivos temporales
*.tmp
*.bak
*.swp

# Ignorar archivos específicos del proyecto
MovieDataset.csv
